/*----------------------------------------------------------------------------------------------------------------*\
    FONT
\*----------------------------------------------------------------------------------------------------------------*/
.font1 {
	font-family: 'Droid Sans', sans-serif;
}

.font2 {
	font-family: 'Libre Baskerville', serif;
}

.font3 {
	font-family: 'Droid Serif', serif;
}

.font4 {
	font-family: 'Vollkorn', serif;
}

.font5 {
	font-family: 'Bree Serif', serif;
}

.font6 {
	font-family: 'Vidaloka', serif;
}

.font7 {
	font-family: 'Open Sans', sans-serif;
}

.font8 {
	font-family: 'Roboto', sans-serif;
}

.font9 {
	font-family: 'Raleway', sans-serif;
}

.font10 {
	font-family: 'Inconsolata', sans-serif;
}





/*----------------------------------------------------------------------------------------------------------------*\
    Page Container
\*----------------------------------------------------------------------------------------------------------------*/
body {
	padding: 30px;
}

.pageContainer {
	width: 100%;
	min-width: 600px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 auto;
	
	overflow: hidden;
}





/*----------------------------------------------------------------------------------------------------------------*\
    HEADER
\*----------------------------------------------------------------------------------------------------------------*/
.header {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.header .avatar {
	width: 60px;
	display: inline-block;
	vertical-align: middle;
}

.header .avatar img {
	border-radius: 5px;
}

.header .names {
	display: inline-block;
	vertical-align: middle;
}

.header .names .twitterName {
	display: inline-block;
	vertical-align: middle;
	
	font-size: 0.8em;
}






/*----------------------------------------------------------------------------------------------------------------*\
    GAME BOARD
\*----------------------------------------------------------------------------------------------------------------*/
.gameBoard {
	position: relative;
	
	overflow: hidden;
}

.gameBoard .player {
	width: 70px;
	
	pointer-event: none;
	
	position: absolute;
	top: 0;
	left: 0;
	
	z-index: 1;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FOOTER
\*----------------------------------------------------------------------------------------------------------------*/
.footer {
	padding: 10px;
	border-top: 1px solid #ccc;
}





/*----------------------------------------------------------------------------------------------------------------*\
    WORDS
\*----------------------------------------------------------------------------------------------------------------*/
.word {
	display: inline-block;
	
	white-space: nowrap;
	
	pointer-events: none;
	
	position: absolute;
	top: 0;
	right: -100px;
}





/*----------------------------------------------------------------------------------------------------------------*\
    BULLETS
\*----------------------------------------------------------------------------------------------------------------*/
.bullet {
	width: 10px;
	height: 5px;
	margin-top: 22px;
	margin-left: 15px;
	border-radius: 5px;
	display: inline-block;
	
	background: #999;
	
	white-space: nowrap;
	
	pointer-events: none;
	
	position: absolute;
	top: 0;
	left: 20px;
}
