/*----------------------------------------------------------------------------------------------------------------*\
    FONT
\*----------------------------------------------------------------------------------------------------------------*/
.font1 {
	font-family: 'Droid Sans', sans-serif;
}

.font2 {
	font-family: 'Libre Baskerville', serif;
}

.font3 {
	font-family: 'Droid Serif', serif;
}

.font4 {
	font-family: 'Vollkorn', serif;
}

.font5 {
	font-family: 'Bree Serif', serif;
}

.font6 {
	font-family: 'Vidaloka', serif;
}

.font7 {
	font-family: 'Open Sans', sans-serif;
}

.font8 {
	font-family: 'Roboto', sans-serif;
}

.font9 {
	font-family: 'Raleway', sans-serif;
}

.font10 {
	font-family: 'Inconsolata', sans-serif;
}





/*----------------------------------------------------------------------------------------------------------------*\
    Page Containers
\*----------------------------------------------------------------------------------------------------------------*/
body {
	padding: 30px;
}

.pageContainer {
	width: 100%;
	min-width: 600px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 auto;
	
	overflow: hidden;
	
	position: relative;
}





/*----------------------------------------------------------------------------------------------------------------*\
    HOME PAGE
\*----------------------------------------------------------------------------------------------------------------*/
.homePage {
	max-width: 600px;
	min-width: 0;
	padding: 1em;
	
	text-align: center;
}

.title {
	margin-bottom: 30px;
}

.about {
	margin-bottom: 30px;
}

.button {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	
	text-transform: uppercase;
}




/*----------------------------------------------------------------------------------------------------------------*\
    HEADER
\*----------------------------------------------------------------------------------------------------------------*/
.header {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.header .avatar {
	width: 60px;
	display: inline-block;
	vertical-align: middle;
}

.header .avatar img {
	border-radius: 5px;
}

.header .names {
	display: inline-block;
	vertical-align: middle;
}

.header .names .twitterName {
	display: inline-block;
	vertical-align: middle;
	
	font-size: 0.8em;
}






/*----------------------------------------------------------------------------------------------------------------*\
    GAME BOARD
\*----------------------------------------------------------------------------------------------------------------*/
.gameBoard {
	position: relative;
	
	overflow: hidden;
}

.gameBoard .player {
	width: 70px;
	
	pointer-events: none;
	
	position: absolute;
	top: 0;
	left: 0;
	
	z-index: 1;
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
}





/*----------------------------------------------------------------------------------------------------------------*\
    FOOTER
\*----------------------------------------------------------------------------------------------------------------*/
.footer {
	padding: 10px;
	border-top: 1px solid #ccc;
}





/*----------------------------------------------------------------------------------------------------------------*\
    WORDS
\*----------------------------------------------------------------------------------------------------------------*/
.word {
	display: inline-block;
	
	white-space: nowrap;
	
	pointer-events: none;
	
	position: absolute;
	top: 0;
	right: -100px;
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
}

.word.animation1 {
	-webkit-animation: wordsMove 16s linear 0s 1 normal;
	-moz-animation: wordsMove 16s linear 0s 1 normal;
	-ms-animation: wordsMove 16s linear 0s 1 normal;
	-o-animation: wordsMove 16s linear 0s 1 normal;
	animation: wordsMove 16s linear 0s 1 normal;
}

.word.animation2 {
	-webkit-animation: wordsMove 12s linear 0s 1 normal;
	-moz-animation: wordsMove 12s linear 0s 1 normal;
	-ms-animation: wordsMove 12s linear 0s 1 normal;
	-o-animation: wordsMove 12s linear 0s 1 normal;
	animation: wordsMove 12s linear 0s 1 normal;
}

.word.animation3 {
	-webkit-animation: wordsMove2 16s linear 0s 1 normal;
	-moz-animation: wordsMove2 16s linear 0s 1 normal;
	-ms-animation: wordsMove2 16s linear 0s 1 normal;
	-o-animation: wordsMove2 16s linear 0s 1 normal;
	animation: wordsMove2 16s linear 0s 1 normal;
}

.word.animation3 {
	-webkit-animation: wordsMove2 12s linear 0s 1 normal;
	-moz-animation: wordsMove2 12s linear 0s 1 normal;
	-ms-animation: wordsMove2 12s linear 0s 1 normal;
	-o-animation: wordsMove2 12s linear 0s 1 normal;
	animation: wordsMove2 12s linear 0s 1 normal;
}

@-webkit-keyframes wordsMove {
  0%   { right: -100px; margin-top: 0;}
  10%   { margin-top: 50px;}
  30%   { margin-top: -50px;}
  50%   { margin-top: 50px;}
  70%   { margin-top: -50px;}
  90%   { margin-top: 50px;}
  100% { right: 2000px; margin-top: 0;}
}

@-moz-keyframes wordsMove {
  0%   { right: -100px; margin-top: 0;}
  10%   { margin-top: 50px;}
  30%   { margin-top: -50px;}
  50%   { margin-top: 50px;}
  70%   { margin-top: -50px;}
  90%   { margin-top: 50px;}
  100% { right: 2000px; margin-top: 0;}
}

@-ms-keyframes wordsMove {
  0%   { right: -100px; margin-top: 0;}
  10%   { margin-top: 50px;}
  30%   { margin-top: -50px;}
  50%   { margin-top: 50px;}
  70%   { margin-top: -50px;}
  90%   { margin-top: 50px;}
  100% { right: 2000px; margin-top: 0;}
}
 
@-o-keyframes wordsMove {
  0%   { right: -100px; margin-top: 0;}
  10%   { margin-top: 50px;}
  30%   { margin-top: -50px;}
  50%   { margin-top: 50px;}
  70%   { margin-top: -50px;}
  90%   { margin-top: 50px;}
  100% { right: 2000px; margin-top: 0;}
}

@keyframes wordsMove {
  0%   { right: -100px; margin-top: 0;}
  10%   { margin-top: 50px;}
  30%   { margin-top: -50px;}
  50%   { margin-top: 50px;}
  70%   { margin-top: -50px;}
  90%   { margin-top: 50px;}
  100% { right: 2000px; margin-top: 0;}
}

@-webkit-keyframes wordsMove2 {
  0%   { right: -100px; margin-top: 0;}
  10%   { margin-top: -50px;}
  30%   { margin-top: 50px;}
  50%   { margin-top: -50px;}
  70%   { margin-top: 50px;}
  90%   { margin-top: -50px;}
  100% { right: 2000px; margin-top: 0;}
}

@-moz-keyframes wordsMove2 {
  0%   { right: -100px; margin-top: 0;}
  10%   { margin-top: -50px;}
  30%   { margin-top: 50px;}
  50%   { margin-top: -50px;}
  70%   { margin-top: 50px;}
  90%   { margin-top: -50px;}
  100% { right: 2000px; margin-top: 0;}
}

@-ms-keyframes wordsMove2 {
  0%   { right: -100px; margin-top: 0;}
  10%   { margin-top: -50px;}
  30%   { margin-top: 50px;}
  50%   { margin-top: -50px;}
  70%   { margin-top: 50px;}
  90%   { margin-top: -50px;}
  100% { right: 2000px; margin-top: 0;}
}

@-o-keyframes wordsMove2 {
  0%   { right: -100px; margin-top: 0;}
  10%   { margin-top: -50px;}
  30%   { margin-top: 50px;}
  50%   { margin-top: -50px;}
  70%   { margin-top: 50px;}
  90%   { margin-top: -50px;}
  100% { right: 2000px; margin-top: 0;}
}

@keyframes wordsMove2 {
  0%   { right: -100px; margin-top: 0;}
  10%   { margin-top: -50px;}
  30%   { margin-top: 50px;}
  50%   { margin-top: -50px;}
  70%   { margin-top: 50px;}
  90%   { margin-top: -50px;}
  100% { right: 2000px; margin-top: 0;}
}





/*----------------------------------------------------------------------------------------------------------------*\
    BULLETS
\*----------------------------------------------------------------------------------------------------------------*/
.bullet {
	width: 10px;
	height: 5px;
	margin-top: 22px;
	margin-left: 15px;
	border-radius: 5px;
	display: inline-block;
	
	background: #000;
	
	white-space: nowrap;
	
	pointer-events: none;
	
	position: absolute;
	top: 0;
	left: 20px;
	
	-webkit-animation: bulletsMove 6s linear 0s 1 normal;
	-moz-animation: bulletsMove 6s linear 0s 1 normal;
	-ms-animation: bulletsMove 6s linear 0s 1 normal;
	-o-animation: bulletsMove 6s linear 0s 1 normal;
	animation: bulletsMove 6s linear 0s 1 normal;
}

@-webkit-keyframes bulletsMove {
  0%   { left: 20px; }
  100% { left: 2000px; }
}

@-moz-keyframes bulletsMove {
  0%   { left: 20px; }
  100% { left: 2000px; }
}

@-ms-keyframes bulletsMove {
  0%   { left: 20px; }
  100% { left: 2000px; }
}

@-o-keyframes bulletsMove {
  0%   { left: 20px; }
  100% { left: 2000px; }
}

@keyframes bulletsMove {
  0%   { left: 20px; }
  100% { left: 2000px; }
}